<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>

<%= form_tag products_path, method: :get, class: "navbar-form navbar-right" do %>
  <div class="input-group">
    <%= text_field_tag :search, params[:search], class: "form-control" %>
    <span class="input-group-btn">
      <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
    </span>
  </div>
<% end %>